@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1664px;
  padding: 0 128px;
  width: 100%;
  margin: auto;
}

.container-nav {
  max-width: 1664px;
  width: 100%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.hidden {
  opacity: 0;
}

nav.scrolled {
  height: 70px;
}

.secTitle {
  font-size: 64px;
  font-weight: 400;
  text-align: center;
  color: #12F7D6;
}

/* LINEDOT */

.lineDot {
  position: relative;
  background-color: #12F7D6;
  width: 150px;
  height: 2px;
}

.lineDot::before,
.lineDot::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #12f7d6;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.lineDot::before {
  left: -10px;
}

.lineDot::after {
  right: -10px;
}

/*SCROLLBAR*/

::-webkit-scrollbar {
  width: 15px;
  background-color: #292F36;
}

::-webkit-scrollbar-thumb {
  background-color: #12f7d6;
  border-radius: 10px;
}

/* NAVBAR */

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 170px;
  background-color: #292F36;
  font-family: "IBM Plex Mono", monospace;
  transition: 0.3s;
  z-index: 999999999;
}

.navbar .container-nav {
  height: 100%;
  justify-content: space-between;
}

.navbar .left span {
  font-family: "IBM Plex Mono", monospace;
  font-size: 32px;
  font-weight: 500;
  color: #12F7D6;
  margin-right: 10px;
}

.navbar .left h1 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 32px;
  font-weight: 500;
  color: #FFF;
}

.navbar .right .links {
  font-family: "IBM Plex Mono", monospace;
  font-size: 24px;
  gap: 32px;
  height: 40px;
  color: #FFF;
}

.navbar .right .links li.item-nav {
  transition: 0.3s;
  margin-top: 3px;
}

.navbar .right .links li.social {
  transition: 0.3s;
}

.navbar .right .links li.item-nav:hover {
  color: #12f7d6;
}

.navbar .right .links li.social:hover {
  color: #12f7d6;
}

.navbar .right .links li .search-bar {
  width: 220px;
  background: #FFF;
  border-radius: 5px;
}

.navbar .right .links li .search-bar .row {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.navbar .right .links li .search-bar input {
  width: 150px;
  flex: 1;
  height: 20px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 16px;
}

.navbar .right .links li .search-bar button {
  background: transparent;
  border: 0;
}

.navbar .right .links li .search-bar button:first-of-type {
  margin-right: 15px;
}

.navbar .right .links li.search-group {
  z-index: 9;
}

.navbar .right .links li .search-bar button .fa-solid {
  cursor: pointer;
}

.navbar .right .links li .search-bar .result-box ul {
  border-top: 1px solid #999;
  padding: 10px 15px;
}

.navbar .right .links li .search-bar .result-box ul li {
  color: #000;
  font-size: 16px;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.navbar .right .links li .search-bar .result-box ul li:hover {
  background: #e9f3ff;
}

.navbar .right .links .fa-brands {
  margin-right: 10px;
  color: #12F7D6;
}

.navbar .right .links .social {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  margin-top: 7px;
}

.navbar .active {
  color: #12F7D6;
}


/* LINE */

.bg-line {
  background-color: #292F36;
}

.line {
  height: 1px;
  background-color: #43454D;
}


/* TRAVEL BUTTON */

.travel {
  position: fixed;
  margin-left: 64px;
  margin-top: 64px;
  padding: 8px 12px;
  border: 1px solid #FFF;
  border-radius: 40px;
  background-color: #1A1E23;
}

.travel .icons {
  gap: 24px;
}

.travel .icons i {
  color: #FFF;
  font-size: 20px;
}

.travel .icons .bubble {
  width: 40px;
  height: 40px;
}

.travel .icons a {
  width: 100%;
  height: 100%;
}

.travel .active {
  background-color: #FFF;
  border-radius: 40px;
}

.travel .active i {
  color: #1A1E23;
}

/* MAIN-PAGE */

.main-page {
  width: 100%;
  height: 910px;
  background-color: #292F36;
}

.main-page .top {
  margin-top: 64px;
  /*margin-bottom: 64px;*/
}

.main-page .top h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 117px;
  font-weight: normal;
  color: #98FAEC;
}

.main-page .bot .right {
  width: 215px;
  height: 378px;
  background-color: #1A1E23;
  border-radius: 80px;
  margin-top: 110px;
}

.main-page .bot .right .container-sm {
  width: 180px;
  gap: 48px;
}

.main-page .bot .right p {
  display: flex;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #FFF;
}

.main-page .bot .right .item span {
  font-family: "IBM Plex Mono", monospace;
  color: #12F7D6;
  font-size: 48px;
  font-weight: 500;
  margin-right: 10px;
}

.main-page .bot .mid {
  margin-top: 110px;
  width: 745px;
  display: flex;
  flex-direction: column;
}

.main-page .bot .mid span {
  color: #98FAEC;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: normal;
}

.main-page .bot .mid h1 {
  color: #FFF;
  font-size: 64px;
  margin-left: 16px;
  margin-bottom: 32px;
}

.main-page .bot .mid h1 span.txt {
  color: #12F7D6;
  font-weight: bold;
  font-size: 64px;
}

.main-page .bot .mid h1 span.margin {
  margin-left: 16px;
}

.main-page .bot .mid p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #FFF;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.main-page .bot .mid .contact-item {
  margin-top: 16px;
  gap: 16px;
}

.main-page .bot .mid p.contactTxt {
  font-family: "IBM Plex Mono", monospace;
  font-size: 32px;
  font-weight: 500;
  color: #12F7D6;
  margin-left: 16px;
}

.main-page .bot .mid .round {
  background: #43454D;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.main-page .bot .mid .round a {
  width: 100%;
  height: 100%;
  color: #12F7D6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page .bot .mid .round a i {
  font-size: 24px;
}

.main-page .bot .left {
  margin-top: 64px;
  width: 320px;
  height: 520px;
}

.main-page .bot .left .card {
  width: 100%;
  height: 100%;
  border: 4px solid #FFF;
  background-color: #292F36;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  filter: drop-shadow(-5px -3px 0.7px #12F7D6);
}

.main-page .bot .left .card img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 4px solid #12F7D6;
  margin-top: 40px;
  margin-bottom: 16px;
}

.main-page .bot .left .card h1 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 32px;
  font-weight: 500;
  color: #FFF;
}

.main-page .bot .left .card p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #FFF;
  margin-bottom: 32px;
}

.main-page .bot .left .card .coord {
  width: 100%;
  padding-left: 24px;
}

.main-page .bot .left .card .coord p {
  margin-bottom: 16px;

}

.main-page .bot .left .card .coord .d-flex {
  gap: 16px;
}

.main-page .bot .left .card .icon {
  color: #12F7D6;
}

.main-page .bot .left .card a.btn {
  padding: 12px 20px;
  background-color: #FFF;
  border-radius: 32px;
  margin-right: 20px;
  transition: 0.3s;
}

.main-page .bot .left .card a.btn:hover {
  background-color: #ffffff5e;
}

.main-page .bot .left .card a.btn i {
  margin-left: 5px;
}

.main-page .bot .left .card .language {
  gap: 16px;
}

.main-page .bot .left .card .language .card-item {
  background-color: #12F7D6;
  border-radius: 8px;
  padding: 0 3px;
  margin-bottom: 32px;
}

.main-page .bot .left .card .language .card-item p.txt {
  font-size: 'IBM Plex Mono', monospace;
  color: #000;
  margin: 0;
}

/* A PROPOS */

.apropos {
  width: 100%;
  height: 824px;
  background-image: url(../img/About-me.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.apropos .container {
  padding-top: 128px;
  gap: 128px;
}

.apropos .container .left {
  gap: 64px;
}

.apropos span {
  font-size: 14px;
  font-family: "IBM Plex Mono", monospace;
  color: #98FAEC;
}

.apropos .container .left .top {
  width: 550px;
  background-color: #292F36;
  border: 4px solid #12F7D6;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 10px 0;
}

.apropos .container .left .top h2 {
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  color: #FFF;
}

.apropos .container .left .bot {
  background-color: #292F36;
  border-radius: 40px;
  padding: 24px 40px;
}

.apropos .container .left .bot .txt {
  color: #FFF;
  font-family: "IBM Plex Mono", monospace;
  gap: 24px;
  margin: 32px 0;
}

.apropos .container .left .bot .txt p {
  font-family: "IBM Plex Mono", monospace;
}

.apropos .container .left .bot .txt p.title {
  font-size: 32px;
  color: #98FAEC;
  font-weight: 500;
}

.apropos .container .left .bot .txt p span {
  font-size: 16px;
}

.apropos .container .right img {
  border-radius: 16px;
}

/* Skills */

.skills {
  width: 100%;
  /* height: 824px; */
  background-image: url(../img/Skills.png);
}

.skills .container {
  padding: 128px;
  gap: 64px;
}

.skills button {
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

.skills .top {
  gap: 16px;
}

.skills .top p {
  color: #FFF;
  font-family: 'IMB Plex Mono', monospace;
}

.skills .mid {
  gap: 128px;
  margin-bottom: 90px;
}

.skills .mini-card {
  color: #292F36;
  padding: 16px 24px;
  background-color: #98FAEC;
  gap: 8px;
  border-radius: 8px;
  font-family: 'IMB Plex Mono', monospace;
}

.skills .mini-card i {
  font-size: 32px;
}

.skills .mini-card h3 {
  font-weight: 400;
  font-size: 24px;
}

.skills .mini-card p {
  font-weight: 400;
  font-size: 16px;
}

.skills .bot {
  gap: 128px;
  flex-wrap: wrap;
}

.skills .comp {
  width: 200px;
}

.skills .bg-round i {
  font-size: 64px;
  color: #FFF;
}

.skills .bg-round {
  margin: auto;
  width: 144px;
  height: 144px;
  border-radius: 50%;
  margin-bottom: 24px;
}

.skills .html {
  background-color: #E54F26;
}

.skills .css {
  background-color: #0C73B8;
}

.skills .php {
  background-color: #7b7fb5;
}

.skills .js {
  background-color: #E7A020;
}

.skills .sql {
  background-color: #fe080a;
}

.skills .bot p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
}

.skills .text-html {
  color: #E54F26;
}

.skills .text-css {
  color: #0C73B8;
}

.skills .text-php {
  color: #7b7fb5;
}

.skills .text-js {
  color: #E7A020;
}

.skills .text-sql {
  color: #fe080a;
}


/* PROJETS */

.projets {
  width: 100%;
  background-image: url(../img/Works.png);
}

.projets .container {
  padding: 128px 0;
  gap: 64px;
}

.projets .top {
  gap: 16px;
}

.projets .top p {
  font-family: 'IMB Plex Mono', monospace;
  color: #FFF;
}

.projets .bottom a {
  position: relative;
  left: 500px;
  top: 90px;
  color: #12F7D6;
  font-family: 'IMB Plex Mono', monospace;
  font-size: 24px;
  text-decoration: underline;
  text-decoration-color: #FFF;
  text-underline-offset: 10px;
  transition: 0.3s;
}

.projets .bottom a:hover {
  color: #12f7d596;
  text-decoration-color: #ffffff60;
}

.projets .bottom a>i {
  font-size: 16px;
  margin-left: 8px;
}

.projets .screen {
  gap: 64px;
}

.projets .screen button {
  width: 72px;
  height: 72px;
  background-color: #292F36;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.projets .screen button:hover {
  background-color: #6e7a86;
}

.projets .screen i {
  color: #FFF;
  font-size: 24px;
}


/* CONTACT */

.contact {
  width: 100%;
  background-color: #1A1E23;
}

.contact .container {
  padding: 64px 128px;
  gap: 102px;
}

.contact .top {
  gap: 16px;
}

.contact .top p {
  color: #FFF;
  font-family: 'IMB Plex Mono', monospace;
  font-size: 16px;
}

.contact .bottom {
  gap: 64px;
}

.contact .bottom p {
  padding: 16px 40px;
  border: 1px solid #12F7D6;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  font-family: 'IMB Plex Mono', monospace;
  font-size: 32px;
  font-weight: 500;
  color: #12F7D6;
}

.contact .form {
  width: 1200px;
  gap: 64px;
}

.contact .formTop {
  gap: 128px;
}

.contact .form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact .form-control label {
  font-size: 16px;
  font-weight: 400;
  color: #12F7D6;
}

.contact .form-control input,
.contact .form-control textarea {
  outline: none;
  border: none;
  background-color: #1A1E23;
  color: #FFF;
  font-size: 16px;
  border-bottom: 2px solid #98FAEC;
  padding-bottom: 10px;
}

.contact .form-control textarea {
  resize: none;
  padding: 0;
}

.contact .form button {
  border: none;
  outline: none;
  margin: auto;
  width: 234px;
  height: 56px;
  border-radius: 32px;
  color: #292F36;
  font-size: 20px;
  background-color: #12F7D6;
  transition: 0.3s;
  cursor: pointer;
}

.contact .form button:hover {
  background-color: #12F7D660;
}

.contact .form i {
  margin-left: 16px;
}

/* FOOTER */

footer {
  border-top: 1px solid #43454D;
  width: 100%;
  height: 65px;
  background-color: #1A1E23;
}

footer .container{
  height: 100%;
}

footer p {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
}

footer .icons {
  gap: 32px;
}

footer .icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #98FAEC;
  border-radius: 50%;
  color: #1A1E23;
  transition: 0.3s;
}

footer .icons a:hover {
  background-color: #98FAEC60;
}

/* RESPONSIVE */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1920px){
  .container {
    max-width: 1664px;
  }
}

@media screen and (max-width: 767px) {
  body {
      font-size: 14px;
      padding: 0 10px;
  }
  header, nav {
      flex-direction: column;
      align-items: center;
  }
  nav ul {
      display: flex;
      flex-direction: column;
      padding: 0;
  }
  nav ul li {
      margin: 10px 0;
  }
  .gallery img {
      width: 100%;
      height: auto;
  }
  footer {
      font-size: 12px;
      text-align: center;
  }
}

/* Tablettes (768px à 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
      font-size: 16px;
      padding: 0 20px;
  }
  header, nav {
      flex-direction: row;
      justify-content: space-between;
  }
  .gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
  }
  footer {
      font-size: 14px;
      padding: 10px 0;
  }
}

/* Desktop (>1024px) */
@media screen and (min-width: 1025px) {
  .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
  }
  nav ul {
      display: flex;
      justify-content: space-between;
  }
  footer {
      font-size: 16px;
      padding: 20px 0;
  }
}

